@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    margin: 20px;
    font-family: sans-serif;
    box-sizing: border-box;
}
/* ----------------------------HEADER-------- */
header {
    display: flex;
    justify-content: center;
}
header .logo {
    font-family: 'Caveat', cursive;
    color: red;
    flex-grow: 1;
    font-size: 3.5rem;
}
header nav {
    flex-grow: 2;
}
header nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    margin-left: -25rem;
    justify-content: center;
}
header nav li {
    display: inline;
    text-align: center;
    margin: 0 70px 0;
}
header nav li a {
    font-family: 'Oswald', sans-serif;
    color: black;
    font-weight: bold;
    width: 100px;
    text-decoration: none;
}
header nav li a:hover {
    color: red;
}
header .status {
    font-weight: bold;
    position: relative;
    cursor: pointer;
    right: 0.4rem;
    font-family: 'Slabo', serif;
    margin-top: 5px;
}
header .five {
    margin: 0;
    font-size: 1.5rem;
    height: 30px;
    width: 8px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid orange;
    padding-right: 13px;
    padding-left: 10px;
    cursor: pointer;
}
header .five:hover{
    background-color: orange;
}
/* ------------------------TITLE--------- */
h1 {
    display: flex;
    justify-content: center;
    font-family: 'Slabo', serif;
    font-size: 1.8rem;
    font-weight: bold;
}
/* -------------------------SEARCH BAR------- */
.search {
    display: flex;
    justify-content: center;
}
.search input {
    text-align: right;
    display: flex;   
    font-size: 1.3rem;
    width: 25rem;
    border-right: none;
    border-left: none;
    border-top: none;  
}
::placeholder{
    color: red;
}
/* ----------------------------MAIN ------*/
#container {  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin: 1.5rem 20rem;
}
.card {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
button {
    background-color: yellow;
    padding: 10px 30px;
    border: none;
}
button:hover {
    background-color: red;
}
.sold {
    color: rgba(0, 0, 0, 0.514);
}
.sold:hover {
    background-color: aqua;
}
h6 {
    font-size: 1.2rem;   
    font-weight: 500;
}
p {
    color: red;
    font-size: 0.9rem;
    font-weight: 600;
}